@import url('./reset.css');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: rgba(255, 255, 255, 0.87);

  padding: 38px;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

input {
  width: 272px;
  height: 40px;

  border: 1px solid #808080;
  border-radius: 4px;
  padding: 0 16px;
}

input::placeholder {
  color: #808080;
}

input:hover {
  border-color: #000;
}

.search-btn {
  display: block;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  padding: 0;
  width: 91px;
  height: 42px;

  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
}

.search-btn:hover {
  background-color: #6c8cff;
  transform: translate(0, -2px);
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;

  list-style: none;
}

.gallery-item {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
}

.gallery-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.gallery-image:hover {
  transform: scale(1.03);
}

.img-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: 4px 18px;
}

.img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.img-data {
  font-weight: 400;
  line-height: 24px;
  line-height: 2;
}

.gallery-load-btn {
  display: flex;
  align-items: center;

  width: auto;
  height: 40px;
  border: 0px;
  border-radius: 8px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;

  letter-spacing: 0.04em;
  background-color: #4e75ff;
  color: #fff;

  animation: none;
}

.hidden {
  display: none;
}

.loader {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 48px;
  height: 48px;
  border: 5px solid #808080;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: rotation 1s linear infinite;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
